<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">SweetReads</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/library">SweetReads Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>

    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="/library/hsk/1">HSK 1 </a></li>
            <li class="tab col s3"><a href="/library/hsk/2">HSK 2 </a></li>
            <li class="tab col s3"><a href="/library/hsk/3">HSK 3 </a></li>
            <li class="tab col s3"><a href="/library/hsk/4">HSK 4 </a></li>
            <li class="tab col s3"><a href="/library/hsk/5">HSK 5 </a></li>
            <li class="tab col s3"><a href="/library/hsk/6">HSK 6 </a></li>
            <li class="tab col s3"><a href="/library/hsk/6+">HSK 6+ </a></li>
        </ul>
    </div>
</nav>