<div class="row">
    <div class="col s12 m8 space">
        <h3>
            {{story.title}}
        </h3>
        <img class="thumbnail" src='{{story.image}}'>
        <br>
        <button> <i class="fa-solid fa-heart"></i></button>
        <div class="card story">
            <div class="card-content">
                {{{story.body}}}
            </div>
        </div>
        
    </div>
</div>